{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% block title %}{% endblock %}
        <meta name="viewport" content="width=device-width,
            initial-scale=1, maximum-scale=1">
        
            <!-- stylesheets -->
        <link href="{% static 'css/bootstrap.min.css' %}"
            type="text/css" rel="stylesheet">
        <link href="{% static 'css/custom.css' %}" type="text/css"
            rel="stylesheet">
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
       
        {% block extrastyle %}{% endblock %}
    </head>

   	<body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
            	    <button type="button" class="navbar-toggle 
                        collapsed" data-toggle="collapse" 
                        data-target="#navbar" aria-expanded="false" 
                        aria-controls="navbar">
                       <span class="sr-only">Toggle navigation</span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        Dynamic of Structure</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        {% block autofill %}{% endblock %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" id="help-btn" 
                                data-toggle="modal"
                                data-target="#myModal">Help</a></li>
                        <li>
                            <a href="http://github.com/GreatDevelopers"
							    target="new">About</a></li>
                        <li class="active"><a id="help-btn" 
                            data-toggle="modal" data-target="#contact">
                            Contact us
                            <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
    	</nav>
         
        <div class="top-space"></div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1"
            role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                            data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            Help Section</h4>
                   </div>
                   <div class="modal-body">
                       <ul>
                           <li>Soil type</li>
                           <li>This is type of soil.</li>
							<li>You can chosse from these three types-:
							</li>
							<li>1. Type I <br>
								2. Type II <br>
								3. Type III <br>
							</li>
                           <li>Number of storeys</li>
                           <li>This defines the number of storeys to be
             				consider <br>
             				It can have value from 1 to 1000 <br>
             				</li>

                           <li>Importance factor</li>
                           <li>It depends upon the building category
                             and nature of use.</li>

                           <li>Response Reduction factor</li>
                           <li>It depends upon the ductility of the structure.
                                 </li>

                           <li>Zone factor</li>
                           <li>It depends upon the location of the structure.
													 Also, it corresponds to the seismic zone obtained
													 from a map.</li>

                           <li>Gravity Acceleration</li>
                           <li> Its default value is 9.8 but you can
                           chosse between 9 to 10</li>

                           <li>Modes considered</li>
                           <li>It tells number of modes to be consisder
                           It can have value from 1 to Number of storeys
                           input by user </li>
						 	<li> Upload through file</li>
							 <li>upload through file allow you to upload
							  csv file to ali value of mass,
							  height and stiffness matrix
							  format for csv for 4 number of storeys :
								<br>mass inputs<br>
								height values<br>
								stiffness matrix values <br>

								e.g-:
							  <br>
							  12,3,2,4<br>
	   						23,1,4,2<br>23,2,3,2<br></li>
							<li>Email
							</li>
							<li>Email allow you to get pdf through mail
							</li>
                      </ul>
                   </div>

                   <div class="modal-footer">
                       <button type="button" class="btn btn-default"
                           data-dismiss="modal">Close</button>
                       <!--button type="button" class="btn btn-primary">
                           Save changes</button-->
                   </div>
               </div>
           </div>
       </div>

        <!-- Modal -->
        <div class="modal fade" id="contact" tabindex="-1"
            role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                            data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            Contact us</h4>
                   </div>
                   <div class="modal-body">
                       <a href="http://github.com/GreatDevelopers">Github</a>
                       <br />
                       <a href="#">Email</a>
                    </div>
                </div>
            </div>
        </div>
        {% block body %}
        {% endblock %}
    </body>
</html>
