<!doctype html>

<html lang="en">
<head>
<title>hello</title>
{% load static %}
<!-- css work-->
<link rel="stylesheet" type="text/css" 
href="{% static 'bootstrap.min.css' %}">
</head>
<!-- content block start-->
<body>
<h1 class="header">Dynamic of Structure: Mode and Time Period</h1>
<!-- form to get values from the user-->
<div class="input-group" style="width:340px;
text-align:center;margin:0 auto;">
<form action="{% url 'matrix' %}" method="post">{% csrf_token %}
	SOIL TYPE:<br>
	<select name = "Soil_type">
	<option value="1">I</options> 
	<option value="2">II</options>
	<option value="3">III</options>
	</select>
	<br>
	NUMBER OF STOREYS:<br>
    <input class="form-control input-lg space" type="number" 
    name="Number_of_storeys" placeholder="Number_of_storeys" required 
    min=0 max =10000>
    <br>
    IMPORTANCE FACTOR:<br>
    <input class=" form-control input-lg space" type="text" 
    name="Importance_factor" placeholder="Importance_factor" required>
    <br>
    RESPONSE REDUCTION FACTOR:<br>
    <input class=" form-control input-lg space" type="text" 
    name="Response_reduction_factor" 
    placeholder="Response_reduction_factor" required min= max=><br>
    ZOME FACTOR:<br>
    <input class=" form-control input-lg space" type="text"
    name="Zone_factor" placeholder="Zone_factor" required min= max= >
    <br>
    GRAVITY ACCELERATION:<br>
    <input class=" form-control input-lg space" type="number" 
    name="Gravity_acceleration" placeholder="Gravity_acceleration"
    value="9.8" min= max= required ><br>
    MODES CONSIDERED:<br>
    <input class=" form-control input-lg space" type="number" 
    name="Modes_considered" placeholder="Modes_considered" min= 0 max =>
    <br>
    <input class="btn-lg btn-success" type="submit" value="Submit">
	</form>  
	<!-- form end-->
</div>
<!--div end  -->
</body>
<!-- end content block-->
</html>
