{% extends "base.html" %}
{% block title %}DoS{% endblock %}
{% load static %}
{% load staticfiles %}
{% block extrastyle %}
    <script>
        $(document).ready(function(){
             $('[data-toggle="tooltip"]').tooltip({
                 placement : 'top'
             });
        });
        function autofill(){
            document.getElementById("noofstoreys").value="4";
            document.getElementById("imp_factor").value="1.5";
            document.getElementById("res_reduction").value="1.5";
            document.getElementById("zone_factor").value=".1";
            document.getElementById("modes").value="4";
        }
    </script>
    {% endblock %}
    {% block autofill %}
        <li><a href="#" id="autofill"
            onclick="autofill()">Autofill values</a>
        </li>
    {% endblock %}
	<!-- content block start-->
    {% block body %}


        <!--<div class="center"><h2>Dynamic of Structure:</h2>
            <h4>Mode and Time Period</h4></div>-->
        <h3>{{ message }}</h3>
		<!-- form to get values from the user-->
		<div class="input-group container width">
			<form action="{% url 'matrix' %}" method="post">
				{% csrf_token %}
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-9">
                        <label class="top-margin" for="soil_type">
                            SOIL TYPE:</label>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6 col-sm-10 col-xs-10">
                        <select name = "Soil_type"
				            class="form-control dropdown-toggle 
                            input-lg" id="soil_type">
                            <option value="1">I</options>
                            <option value="2" selected="selected">II</options>
                            <option value="3">III</options>
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-2 col-xs-2">
                        <span class="col-md-2 glyphicon 
                            glyphicon-question-sign" aria-hidden="true" 
                            data-toggle="tooltip" data-original-title=
                            "This is type of soil.">
                        </span>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-9"><label class="top-margin"
				        for="noofstoreys">NUMBER OF STOREYS:</label>
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6 col-sm-10 col-xs-10">
                        <input class="form-control input-lg space"
                        type="number" name="Number_of_storeys"
                        placeholder="Number_of_storeys" required min="1" 
                        max="400" id="noofstoreys">
                    </div>
                    <div class="col-md-3 col-sm-2 col-xs-2">
                        <span class="col-md-2 glyphicon 
                            glyphicon-question-sign" aria-hidden="true" 
                        data-toggle="tooltip" data-original-title="This
                        defines the number of storeys to be considered.
                        It can have value from 1 to 1000.">
                        </span>
                    </div>
		        </div>
                
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-9"><label class="top-margin"
					    for="imp_factor">IMPORTANCE FACTOR:</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6 col-sm-10 col-xs-10">
                        <input class="form-control input-lg space"
                        type="number" name="Importance_factor"
                        placeholder="Importance_factor" required 
                        step=0.25 min =0.5 max=10 id="imp_factor">
                    </div>
                    <div class="col-md-3 col-sm-2 col-xs-2">
                        <span class="col-md-2 glyphicon 
                            glyphicon-question-sign" aria-hidden="true"
                            data-toggle="tooltip" data-original-title=
                            "It depends upon the building category and 
                            nature of use.">
                        </span>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-9"><label class="top-margin"
                        for="res_reduction">RESPONSE REDUCTION
                        FACTOR:</label>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6 col-sm-10 col-xs-10">
                        <input class="form-control input-lg space"
                        type="number" name="Response_reduction_factor"
                        placeholder="Response_reduction_factor" 
                        required min=0.5 max= 10 step=0.5 
                        id="res_reduction">
                    </div>
                    <div class="col-md-3 col-sm-2 col-xs-2">
                        <span class="col-md-2 glyphicon 
                            glyphicon-question-sign" aria-hidden="true"
                            data-toggle="tooltip" data-original-title=
                            "It depends upon the ductility of the 
                            structure.">
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-9"><label class="top-margin"
                        for="zone_factor">ZONE FACTOR:</label>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6 col-sm-10 col-xs-10">
                        <select name="Zone_factor" id="zone_factor"
                        class="form-control dropdown-toggle input-lg"
                        id="zone_factor">
                            <option value=".1">II</options>
                            <option value=".16">III</options>
                            <option value=".24">IV</options>
                            <option value=".36">V</options>
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-2 col-xs-2">
                        <span class="col-md-2 glyphicon 
                            glyphicon-question-sign" aria-hidden="true" 
                            data-toggle="tooltip" data-original-title="
                            It depends upon the location of the 
                            structure. Also, it corresponds to the
                            seismic zone obtained from a map.">
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-9"><label class="top-margin"
                        for="gravity">GRAVITY ACCELERATION:</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6 col-sm-10 col-xs-10">
                        <input class="form-control input-lg space"
                        type="number" name="Gravity_acceleration"
                        placeholder="Gravity_acceleration" value=9.8
                        step="any" min=9 max=10 required 
                        id="gravity">
                    </div>
                    <div class="col-md-3 col-sm-2 col-xs-2">
                        <span class="col-md-2 glyphicon 
                            glyphicon-question-sign" aria-hidden="true"
                            data-toggle="tooltip" data-original-title=
                            "The default value is 9.8, but you can 
                            choose between 9 to 10.">
                        </span>
                    </div>
                </div>
                  
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-9"><label class="top-margin"
                        for="modes">MODES CONSIDERED:</label>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6 col-sm-10 col-xs-10">
                        <input class=" form-control input-lg space"
                        type="number" name="Modes_considered" 
                        id="modes" placeholder="Modes_considered" 
                        min=1>
                    </div>
                    <div class="col-md-3 col-sm-2 col-xs-2">
                        <span class="col-md-2 glyphicon 
                            glyphicon-question-sign" aria-hidden="true" 
                            data-toggle="tooltip" data-original-title=
                            "It tells about the number of modes to be 
                            considered. It can have value from 1 to
                            'Number of storeys' field value above.">
                        </span>
                    </div>
                </div>
                    
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-9"><label class="top-margin"
				        for="modes">UPLOAD CSV FILE:</label>
                        <span class="glyphicon glyphicon-question-sign"
					        aria-hidden="true" data-toggle="tooltip"
						    data-original-title="This allows you to 
                            upload CSV file to submit the values of 
                            Mass, Height and Stiffness matrices instead
                            of filling in yourself. Click 'Help' button
                            on the top to know more about the CSV 
                            format. To download a sample CSV file click 
                            here">
                            <a href="{% static 'new.csv' %}">Sample CSV
                                file</a> 
                        </span>
                    </div>
                </div>

			    <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-2">
                        <label class="radio-inline"><input type="radio"
                            name="through_file" value="Y">Yes</label>
                    </div>
                    <div class="col-md-2">
                        <label class="radio-inline"><input type="radio"
					        name="through_file" value="N" checked>No
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-9"><label class="top-margin"
                        for="modes">EMAIL (after completion):</label>
                        <span class="glyphicon glyphicon-question-sign"
                            aria-hidden="true" data-toggle="tooltip"
                            data-original-title="If you select yes, 
                            the output PDF file will be sent to you via
                            email. Or else, you have to wait till the 
                            processing ends.">
                        </span>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-2">
                        <label class="radio-inline"><input type="radio"
                            name="email_get" value="Y" checked>Yes
                        </label>
                    </div>
                    <div class="col-md-2">
                        <label class="radio-inline space"><input type="radio"
                            name="email_get" value="N">No</label>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-5"></div>
                    <!--
                    <div class="col-md-3"><a class="btn btn-primary"
                    id="autofill"
                            onclick="autofill()">Autofill values</a>
                    </div>-->
                    <div class="col-md-3">
                        <input class="btn-lg btn-success space" type="submit"
                            value="Submit" id="submit">
                    </div>
                    <!-- Button trigger modal
                    <div class="col-md-3">
                    <button type="button" class="btn btn-primary"
                        id="help-btn" data-toggle="modal"
                        data-target="#myModal">Help</button>
                    </div> -->
                </div>
			</form>
				<!-- form end-->
		</div>
		<!--div end  -->



        {% endblock %}	
