{% extends "base.html" %}
{% block body %}
<div class="container">
<h3>{{ message }}</h3>
<div class="input-group container width"></div>
<form action="{% url 'last' %}" method="post"
    enctype="multipart/form-data">
    {% csrf_token %}
    {% if email_get == 'Y' %}
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12"> 
                        <h3 class="center"><label for="email_id">
                            Email address</label></h3>
                    </div>
                </div>
            <div class="row">
                <div class="col-md-1 col-sm-2 col-xs-2"></div>
                <div class="col-md-6 col-xs-8 col-sm-8">
                    <input class="form-control input-lg space" 
                        type="email" name="email_id" id="email_id"/>
                </div>
                <div class="col-xs-2 col-md-5 col-sm-2"></div>
            </div>
        </div>
    {% endif %}

    <!-- 3 Column layout  -->
    <div class="row">    
        <div class="col-md-4 col-sm-12 col-xs-12">
            <h3 class="center">Mass</h3>
            {% for row in  number_of_storeys %}
            <div class="row">
                <div class="col-md-1 col-sm-2 col-xs-2"></div>
                <div class="col-md-10 col-xs-8 col-sm-8">
                    <input class="input-lg space form-control"
                        type="number" name="mass{{forloop.counter0}}"
                        placeholder="m{{forloop.counter0}}" required 
                        min=0>
                </div>
                <div class="col-xs-2 col-md-1 col-sm-2"></div>
            </div>
            {% endfor %}
        </div> 
        
        <div class="col-md-4 col-sm-12 col-xs-12">
            <h3 class="center">Height storey</h3>
    
            {% for row in number_of_storeys %}
    
            <div class="row">
                <div class="col-md-1 col-sm-2 col-xs-2"></div>
                <div class="col-md-10 col-xs-8 col-sm-8">
                <input class="input-lg space form-control"
                    type="number" 
                    name="Height_storey{{forloop.counter0}}"
                    placeholder="h{{forloop.counter0}}" required min=0 >
            </div>
                <div class="col-xs-2 col-md-1 col-sm-2"></div>
            </div>
             {% endfor %}
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">
            <h3 class="center">Stiffness storey</h3>
    
            {% for row in number_of_storeys %}
            <div class="row">
                <div class="col-md-1 col-sm-2 col-xs-2"></div>
                <div class="col-md-10 col-xs-8 col-sm-8">
                <input class="input-lg space form-control"
                    type="number" 
                    name="Stiffness_storey{{forloop.counter0}}"
                    placeholder="s{{forloop.counter0}}" required >
            </div>
                <div class="col-xs-2 col-md-1 col-sm-2"></div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-5"></div>
            <div class="col-md-7 col-xs-7 col-sm-7">
                <input class="btn-lg btn-success space" type="submit" 
                    value="Submit">
            </div>
        </div>
    </div>
</form>
</div>
{% endblock %}
